<header class="section-header">  
    <section class="header-main">
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-lg-2 col-sm-4 col-4">
            <a [routerLink]="['/Home']" class="navbar-brand fs-5">
              Tus Canchas App
            </a> <!-- brand end.// -->
          </div>
          <div class="order-lg-last col-lg-5 col-sm-8 col-8 align-items-end">
            <div class="float-end">
              <a [routerLink]="['/Home']" class="btn btn-light "> 
                <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Inicio</span>   
              </a>
              <!--<a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> -->
              <a [routerLink]="['/Consulta reserva Cancha Deportiva']" class="btn btn-light"> 
                <i class="fa fa-shopping-cart"></i> <span class="ms-1">Reservaciones</span> 
              </a>
              <a [routerLink]="['/Login']" class="btn btn-light"> 
                  <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Iniciar sesión</span> 
              </a>
                </div>
          </div> <!-- col end.// -->
          <div class="col-lg-5 col-md-12 col-12">
          
          </div> <!-- col end.// -->
          
        </div> <!-- row end.// -->
      </div> <!-- container end.// -->
    </section> <!-- header-main end.// -->
    <nav class="navbar navbar-light bg-gray-light navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar_main" style="height: 10px">
          <ul class="navbar-nav">
          </ul>
        </div> <!-- collapse end.// -->
      </div> <!-- container end.// -->
    </nav> <!-- navbar end.// -->
  </header> <!-- section-header end.// -->