<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <main class="col ps-md-2 pt-2">
            <div class="row">
                <div class="col-12">
                    <!--Aquí comienza el contenido-->
                    <section>
                        <div class="container pt-5">
                            <article class="card p-4 fondoColor2">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="mb-0 text-white"> Ver Propietarios </h4>
                                        <p class="mb-0 text-white-50">Visualiza aquí todos los propietarios que existen
                                            en el app...
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div> <!-- container end.// -->
                    </section>
                    <section>
                        <div class="container pt-5 py-5">
                            <article class="card p-4 fondoColor">
                                <div class="row gx-3 align-items-center">
                                    <div class="col">
                                        <h4 class="mb-0 text-black text-center">Consulta Todos los propietarios</h4>
                                        <hr>
                                        <aside class="col-lg-4">
                                            <label class="text-black" for="comboConsulta">Tipo de consulta</label>
                                            <select class="form-control" id="comboConsulta">
                                                <option>NIT empresa</option>
                                                <option>Nombre A-Z</option>
                                                <option>Nombre Z-A</option>
                                            </select>
                                        </aside>
                                        <div class="text-end py-5">
                                            <a href="#" class="btn btnm text-white text-end">Consultar</a>
                                        </div>
                                    </div>
                                    <table
                                        class="table table-light table-striped table-bordered text-center border-black">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nit de la Empresa</th>
                                                <th scope="col">Nombre de la Empresa</th>
                                                <th scope="col">Teléfono</th>
                                                <th scope="col">Correo</th>
                                                <th scope="col">Dirección</th>
                                                <th scope="col">No. de canchas</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">No. de Quejas</th>
                                                <th scope="col">Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>1003376221</td>
                                                <td>Softball vallenato</td>
                                                <td>3045493037</td>
                                                <td>vallenatossoftball@gmail.com</td>
                                                <td>Villa Olimpica</td>
                                                <td>2</td>
                                                <td> <a class=" btn btn-success text-black" role="button">Activo</a>
                                                </td>
                                                <td>0</td>
                                                <td href="#"> <a class=" btn btn-dark text-black" href="#"
                                                        role="button">Ver</a> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>890337442</td>
                                                <td>Hernan Canchas</td>
                                                <td>3118022879</td>
                                                <td>canchashernan@hotmail.com</td>
                                                <td>Garupal</td>
                                                <td>2</td>
                                                <td> <a class=" btn btn-success text-black" role="button">Activo</a>
                                                </td>
                                                <td>0</td>
                                                <td href="#"> <a class=" btn btn-dark text-black" href="#"
                                                        role="button">Ver</a> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>12812772</td>
                                                <td>Biblos</td>
                                                <td>3012627271</td>
                                                <td>biblos@hotmail.com</td>
                                                <td>Biblos, Glorieta</td>
                                                <td>4</td>
                                                <td> <a class=" btn btn-success text-black" role="button">Activo</a>
                                                </td>
                                                <td>0</td>
                                                <td href="#"> <a class=" btn btn-dark text-black" href="#"
                                                        role="button">Ver</a> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>4925515162</td>
                                                <td>PatinValle</td>
                                                <td>3045491012</td>
                                                <td>patinajevallenato@gmail.com</td>
                                                <td>Las Florez megamall</td>
                                                <td>1</td>
                                                <td> <a class=" btn btn-success text-black" role="button">Activo</a>
                                                </td>
                                                <td>0</td>
                                                <td href="#"> <a class=" btn btn-dark text-black" href="#"
                                                        role="button">Ver</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </article>
                        </div> <!-- container end.// -->
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>