.fondo {
    background-color: #F5F5F5;

}

.btnm {
    background-color: #5E17EB;

}

input{
    background-color: white;
}
select{
    background-color: white;
}
textarea{
    background-color: white;
}