<app-header></app-header>

<section>
    <div class="container pt-5">
        <article class="card p-4 fondoColor">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-white">Sección de canchas deportivas de: Fútbol</h4>
                    <p class="mb-0 text-white-50">las mejores canchas de este maravilloso deporte...
                    </p>
                </div>
                <div class="col-auto"> <label class="text-white" for="comboCategoria">Categorias</label>
                    <select class="form-control" id="comboCategoria">
                        <option>Todas</option>
                        <option>Recientes</option>
                        <option>Antiguas</option>
                        <option>A-Z</option>
                        <option>Z-A</option>
                    </select>
                </div>
            </div>
        </article>
    </div> <!-- container end.// -->
</section>
<section class="padding-y">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title">Tus canchas</h3>
        </header>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <span class="topbar"> <span class="badge bg-warning"> Offer </span> </span>
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Futbol.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$30.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Futbol 5</a>
                        <small class="text-muted">La paz</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$60.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Fútbol 5</a>
                        <small class="text-muted">Biblos, Al frente del obelisco</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\VillaDariana.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$90.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Fútbol 11</a>
                        <small class="text-muted">Villa Dariana</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$70.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Cristiano Ronaldo</a>
                        <small class="text-muted">Garupal</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <span class="topbar"> <span class="badge bg-warning"> Offer </span> </span>
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Futbol.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$30.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Futbol 5</a>
                        <small class="text-muted">La paz</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$60.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Fútbol 5</a>
                        <small class="text-muted">Biblos, Al frente del obelisco</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\VillaDariana.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$90.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Fútbol 11</a>
                        <small class="text-muted">Villa Dariana</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$70.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Cristiano Ronaldo</a>
                        <small class="text-muted">Garupal</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <span class="topbar"> <span class="badge bg-warning"> Offer </span> </span>
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Futbol.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$30.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Futbol 5</a>
                        <small class="text-muted">La paz</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$60.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha de Fútbol 5</a>
                        <small class="text-muted">Biblos, Al frente del obelisco</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\VillaDariana.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$90.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Fútbol 11</a>
                        <small class="text-muted">Villa Dariana</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <a href="#" class="img-wrap rounded bg-gray-light">
                        <img height="250" class="mix-blend-multiply" src="assets\images\canchas\Biblos.jpeg">
                    </a>
                    <figcaption class="pt-2">
                        <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                        <strong class="price">$70.000 COP</strong> <!-- price.// -->
                        <a href="#" class="title text-truncate">Cancha Cristiano Ronaldo</a>
                        <small class="text-muted">Garupal</small>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
        </div> <!-- row end.// -->
    </div> <!-- container end.// -->
</section>
<app-footer></app-footer>